.heading {
    color: #C67D39;
}

.content {

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .formGroup {
            margin: 0;
            width: 100%;
            min-width: 100vb;

            
        }
    }
}