:root {
  --success-color: #31aa27;
  --fail-color: #f93232;

  --success-bg: #ebf6eb;
  --fail-bg: #fff0f0;
}

.container {
  width: 1200px;
  margin: 0 auto;

  .card {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .item-card {
      width: 70%;
      height: 130px;
      border: 1px solid black;
      border-radius: 8px;
      padding: 10px 20px;

      .success {
        color: var(--success-color);
        button {
          border: 1px solid var(--success-color);
          border-radius: 12px;
          font-size: 12px;
          background-color: var(--success-bg);
        }
      }
      .fail {
        color: var(--fail-color);
        button {
          border: 1px solid var(--fail-color);
          border-radius: 12px;
          font-size: 12px;
          background-color: var(--fail-bg);
        }
      }
    }
  }
}
